<section class="content">
	<div class="content-item m-thesis u-card">
		<div class="m-thesis-header u-card-front d-cssCentered">
			<h2>"Exploring Inclusive Technology and Cultural Intelligence in Robotics"</h2>
		</div>
		<div class="m-thesis-content u-card-back d-cssCentered">
			<p>This German program has been one of the best experiences of my life! Given all that explored, I know exactly what I want my tech career to focus on. And between 'Machines Learning' and 'Deep Learning', it is clear what is and will be an absolute benefit for my career success. Content coming soon!</p>
		</div>
	</div>
	
	<div class="content-item m-thesis u-card">
		<div class="m-thesis-header u-card-front d-cssCentered">
			<h2>"EMOTIVE MACHINES: Robots in Storytelling"</h2>
		</div>
		<div class="m-thesis-content u-card-back d-cssCentered">
			<p>This German program has been one of the best experiences of my life! Given all that explored, I know exactly what I want my tech career to focus on. And between 'Machines Learning' and 'Deep Learning', it is clear what is and will be an absolute benefit for my career success. Content coming soon!</p>
		</div>
	</div>
	
	<div class="content-item robot360">
        <div id="car3"></div>
		<div id="demo"></div>

		<!--
		<img src="/assets/images/nao-research/nao-3d/1.jpg" class="robot360-placeholder" />
		-->
	</div>
</section>