<section class="content">
	<div class="content-item m-thesis u-card">
		<div class="m-thesis-header u-card-front d-cssCentered">
			<h2>"Exploring Inclusive Technology and Cultural Intelligence in Robotics"</h2>
		</div>
		<div class="m-thesis-content u-card-back d-cssCentered">
			<p>Content Coming Soon</p>
		</div>
	</div>
	
	<div class="content-item m-thesis u-card">
		<div class="m-thesis-header u-card-front d-cssCentered">
			<h2>"EMOTIVE MACHINES: Robots in Storytelling"</h2>
		</div>
		<div class="m-thesis-content u-card-back d-cssCentered">
			<p>Content Coming Soon</p>
		</div>
	</div>
	
	<div class="content-item robot360">
		<img src="/assets/images/nao-research/nao-3d/1.jpg" class="robot360-placeholder" />
	</div>
</section>