<nav class="menu d-midWrap">
	<label for="chkbx4menu" class="menu-button">Menu</label>
		
	<ul class="menu-list">
		<li class="menu-list-item">
			<a class="menu-link">The Residency</a>
			<span class="menu-tooltip">Page Coming Soon</span>
		</li>
		<li class="menu-list-item">
			<a class="menu-link">Madam Ella</a>
			<span class="menu-tooltip">Page Coming Soon</span>
		</li>
		<li class="menu-list-item">
			<a class="menu-link">Gallery</a>
			<span class="menu-tooltip">Page Coming Soon</span>
		</li>
		<li class="menu-list-item">
			<a class="menu-link">Resources</a>
			<span class="menu-tooltip">Page Coming Soon</span>
		</li>
	</ul>
</nav>