<section class="cause d-midWrap">
	<quote class="cause-quote"><q class="cause-quote-q">Injustice anywhere is a threat to justice everywhere!</q><cite class="cause-quote-cite">Dr. Martin Luther King Jr., PhD</cite></quote>

	<div class="cause-content">
		<div class="cause-content-spacer"></div>
		<div class="cause-highlight">
			<div class="cause-highlight-header">
				This establishment is a token example of the need for the law to safeguard against the abitrary practices of corporations. This establishment is now a case-study, on this #RoadToPhD.
			<!--
				<label for="chkbx4cause" class="cause-highlight-header-button"></label>
			-->
			</div>

			<div class="cause-highlight-content"><ul class="cause-highlight-content-list">
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Oct<span class="u-date-row-extra">ober</span></span>
							<span class="u-date-row">17</span>
						</div>

						<label for="rdb4cause2" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">Have you ever had a teacher mislead you about exam schedules, with the sole intention of preventing you from taking it? Have you observed faculty members consistently endorsing these falsehoods in a united front?</div>
					<div class="cause-highlight-content-row">Do you find yourself placed in such scenarios so often that you've lost trust in the faculty? Are you compelled to document every moment, as a precaution against needing proof to challenge another faculty-endorsed deception?</div>
					<div class="cause-highlight-content-row">Today, we will explore Tort Law.</div>
					<div class="cause-highlight-content-row">In such an environment of mistrust and frequent arbitrary rulings, the field of Tort Law takes on a profound significance. At its core, Tort Law revolves around the principle that individuals have a duty to avoid causing harm to others, that includes negligence, intentional wrongdoing or false representations. And when they breach that duty, they should be held responsible for the consequences.</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Oct<span class="u-date-row-extra">ober</span></span>
							<span class="u-date-row">23</span>
						</div>
						
						<label for="rdb4cause3" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">The Manufacturing of Blank Scores (Part 1/Tactic 1)</div>
					<div class="cause-highlight-content-row">Have you ever been given a conversation at a time where "granting access" was required? Has your faculty ever held you in a long meeting on a day scheduled for exams? How often are these blank scores "justified" with unnecessarily prolonged meetings?</div>
					<div class="cause-highlight-content-row">Do you find yourself asking colleagues and family abroad to email for resolutions instead? And have those gone unattended for long as another delaying tactic? Have you guys ever had to "bcc" dozens of participants for proof?</div>
					<div class="cause-highlight-content-row">Are you tired of these tactictal stalling? <b>Today, we will explore Rule 11 of the Federal Rules of Civil Procedures.</b></div>
					<div class="cause-highlight-content-row">In essence, Rule 11 is a specified legal provision that addresses ill-intended <b>strategic delays</b> by imposing sanctions on parties who engage in such frivolous or any such unethical tactics.<!-- It encourages all parties to exercise due diligence, act in good faith, and ensure that their daily contentions have a basis in law and fact, ultimately promoting fair and efficient proceedings.--></div>
					<div class="cause-highlight-content-row">(Part 2/Tactic 2)... just last month...</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				<li class="cause-highlight-content-list-item nthChild-proof">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Oct<span class="u-date-row-extra">ober</span></span>
							<span class="u-date-row">25</span>
						</div>
						
						<div class="u-date">
							<span class="u-date-row"><span class="u-date-row-extra"></span></span>
							<span class="u-date-row">to<span class="u-date-row-extra">&nbsp;</span></span>
							<span class="u-date-row">&rArr;</span>
						</div>
						
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Oct<span class="u-date-row-extra">ober</span></span>
							<span class="u-date-row">27</span>
						</div>
						
						<label for="chkbx4proof1" class="cause-highlight-content-nav-button d-icon_911 u-button"></label>
						<label for="rdb4cause4" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">
						Thank you to the many of you who have reached out. Even more so, thank you to the ones who have sent their testimonies.
						<br /><br />As a way to encourage more testimonies, Madam Ella will be sharing publicly her own set of videos as well as the names involved, starting with the topic around the time period of October 25 to October 27.
						<br /><br />You are welcome to get in touch by direct telephone as well: <a href="tel:0027630478534">(+27) 63 047 8534</a>. Kindly send a <a href="https://wa.me/27630478534/?text=Hello,%20Madam%20Ella.%20My%20name%20is%20_____.%20This%20is%20regarding%20_____.">Whatsapp message</a>, as it is more convenient.
					</div>
					<div class="cause-highlight-content-row">KEYWORDS: "data tampering", "grading integrity", "disappearing marks", "manual content modification".</div>
				</li>
				
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Oct<span class="u-date-row-extra">ober</span></span>
							<span class="u-date-row">31</span>
						</div>
						
						<label for="rdb4cause5" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">Coming soon...</div>
					<div class="cause-highlight-content-row">We will explore the Jeanne Clery Act, the Equality Act of 2010, and an interesting section of the Rehabilitation Act of 1973, among other things.</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Nov<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">4</span>
						</div>
						
						<label for="rdb4cause6" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">Coming soon...</div>
					<div class="cause-highlight-content-row">We will explore the Jeanne Clery Act, the Equality Act of 2010, and an interesting section of the Rehabilitation Act of 1973, among other things.</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Nov<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">7</span>
						</div>
						
						<label for="rdb4cause7" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">Coming soon...</div>
					<div class="cause-highlight-content-row">We will explore the Jeanne Clery Act, the Equality Act of 2010, and an interesting section of the Rehabilitation Act of 1973, among other things.</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				<li class="cause-highlight-content-list-item nthChild-confetti">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Nov<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">9</span>
						</div>
						
						<label for="rdb4cause8" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row d-confetti_wrap">
						<div class="d-confetti_wrap-text d-cssCentered">Today is a significant step forward in our Richfield case-study. Today, for the first time ever, faculty admitted that their IT system can be flawed. Today, it was mentioned that sometimes a student might submit but the marks are not reflected in the system, and in such cases, they may call the student to redo the said test or exam.</div>
						<div class="d-confetti d-cssCentered">{% for i in (1..19) %}<div class="d-confetti-piece"></div>{% endfor %}</div>
					</div>
					<div class="cause-highlight-content-row">In the light of this, the arbitrary rulings made from these empty scores should be invalidated.</div>
					<div class="cause-highlight-content-row">Is it time to discuss the time wasted on redoing courses from such a system? Not to the mention all the extra money wasted?</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Nov<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">13</span>
						</div>

						<label for="rdb4cause9" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">Coming soon...</div>
					<div class="cause-highlight-content-row">We will explore the Writ of Mandamus.</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				<li class="cause-highlight-content-list-item nthChild-doubleStrike">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Nov<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">17</span>
						</div>

						<label for="rdb4cause10" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row d-doubleStrike_wrap"><marquee class="d-doubleStrike" behavior="alternate">
						<div class="u-date">
							<span class="u-date-row">&nbsp;</span>
							<span class="u-date-row">As seen on: Oct<span class="u-date-row-extra">ober</span></span>
							<span class="u-date-row">17</span>
						</div>
					</marquee></div>
					<div class="cause-highlight-content-row">They attempted to repeat their foul schemes of October 17...</div>
					<div class="cause-highlight-content-row">... only this time, I knew the law!</div>
					<div class="cause-highlight-content-row d-backgroundGreen">Someone once told me: "They might just end up hating you!" The only answer was: "What was their excuse before?" <br/><br/><br />I don't care about being "liked". I don't care about "being good" or "appearing sweet". What did that get me all those years? I was polite, I was calm, I was patient... and yet! <br/><br/><br />Now, it's time for the law! Now, it's time for this story to be inked in history. Now, it's time for the fire of justice to burn! <br/><br/><br />This case-study will go on forever! It's the stepping stone to fixing Africa's education system by eradicating these drop-out factories... because the problems are often manufactured by the institution itself!  <br/><br/><br />No one else should ever have to go through what I went through! These institutions that play with their student's lives, should not have a license! </div>
					<div class="cause-highlight-content-row">See October 17 for the details on "tort law".</div>
				</li>				

				<!--
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Nov<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">22</span>
						</div>

						<label for="rdb4cause1" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row d-backgroundGreen">We are getting a Youtube Channel!<br /><br />Tell me if you would like to see the detail explainers of this case-study on Youtube! Show your support by putting a heart on <a href="https://www.instagram.com/p/CwlWU8JNELq/?igshid=NTc4MTIwNjQ2YQ==">this link!</a></div>
					<div class="cause-highlight-content-row"><img src="/assets/videos/vid_sagi-1.gif" /></div>
				</li>
				-->
				
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Nov<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">24</span>
						</div>

						<label for="rdb4cause11" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">A mother, a paper, and a signature... and me coming right on time to catch on film: the innoncence of trust!</a></div>
					<div class="cause-highlight-content-row">Comming soon...</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Dec<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">1</span>
						</div>

						<label for="rdb4cause12" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">Whatsapp messages, emails, lab photos, and witnesses... another day of malpractice caught red-handed!</a></div>
					<div class="cause-highlight-content-row">Comming soon...</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
				
				<li class="cause-highlight-content-list-item">
					<nav class="cause-highlight-content-nav">
						<div class="u-date">
							<span class="u-date-row">2023<span class="u-date-row-extra">,</span></span>
							<span class="u-date-row">Dec<span class="u-date-row-extra">ember</span></span>
							<span class="u-date-row">5</span>
						</div>

						<label for="rdb4cause1" class="cause-highlight-content-nav-button d-icon_power u-button"></label>
					</nav>
					<div class="cause-highlight-content-row">Today, I read an email doubling-down on the very same debates we've had a million times. If every take on mediation is a waste of time, the law MUST be the resort.</a></div>
					<div class="cause-highlight-content-row">We will explore the "Consumer Protection Act" and how much in there, is applicable to the ill-doings at Richfield.</a></div>
					<!--
					<div class="cause-highlight-content-row">It is no longer the era of apartheir where black parents were simply grateful their kids got to study at all, no matter how barbaric the establishment. These institutions should and MUST function correctly.</a></div>
					-->
					<div class="cause-highlight-content-row">Comming soon...</div>
					<!--
					<div class="cause-highlight-content-row">"Your rules, like most rules, they only work against people who look like me."</div>
					-->
				</li>
			</ul></div>
		</div>
	</div>
</section>