		<nav class="menu">
			<header class="menu-header">
				<figcaption class="menu-header-logo">
					<img src="/assets/images/richfield-case-study/logo_text-green.png" class="menu-header-logo-img is-text" />
					<img src="/assets/images/richfield-case-study/logo_icon-green.png" class="menu-header-logo-img is-icon" />
				</figcaption>
				
				<p>"An institution that penalizes the students for its own omissions? I've studied in 3 continents, and I'm only seeing this in South Africa!" -- Madam Ella.</p>
			</header>
			<aside class="menu-aside"><div class="menu-aside-wrap d-cssCentered">
				<h1 class="menu-aside-h1">Richfield <br />Case-Study</h1>
				
				<img src="/assets/images/richfield-case-study/icon_folder_animated.gif" class="menu-aside-img" />
			</div></aside>
		
			<div class="menu-box nthChild-1 u-card">
				<div class="menu-box-header u-card-front">Madam Ella</div>
				<div class="menu-box-content u-card-back">Content Coming Soon</div>
			</div>
			<div class="menu-box nthChild-2">
				<a href="/richfield-case-study/madam-ella/elite-education/" class="menu-box-header">The Path before SA</a>
				<span class="menu-box-veil"></span>
			</div>
			<div class="menu-box nthChild-3">
				<a href="/richfield-case-study/laws/court-wins/" class="menu-box-header">The Laws</a>
				<span class="menu-box-veil"></span>
			</div>
			<div class="menu-box nthChild-4 u-card">
				<div class="menu-box-header u-card-front">Daily Updates</div>
				<div class="menu-box-content u-card-back">The pain of life at Richfield. <a href="/richfield-case-study/daily-updates/month-april-2024" class="u-link">View April's.</a></div>
			</div>
			<div class="menu-box nthChild-5">
				<a href="/richfield-case-study/rally-with-me/merch/" class="menu-box-header">Rally With Me!</a>
				<span class="menu-box-veil"></span>
			</div>
			
			<a href="/richfield-case-study/camera-roll/" class="cameraRollButton"></a>
		</nav>