<section class="NAO"><div class="NAO-dock d-midWrap d-cssCentered">
	<p class="NAO-announcement">
		<span class="NAO-announcement-subtitle">Announcing</span>
		<span class="NAO-announcement-title">"NAO: Robots in Residence"</span>
		<span class="NAO-announcement-subtitle">with Madam Ella</span>

		<a href="/nao-research/" class="NAO-announcement-link">Visit the page</a>
		<!--
		<a href="https://youtube.com/@IntoBinary" class="NAO-announcement-link">Subscribe on Youtube</a>
		-->
	</p>
</div></section>