<ul class="proofs">{% for i in (1..1) %}
	<li class="proof"><div class="proof_dock d-midWrap">
		<nav class="proof-nav">
			<marquee class="proof-nav-marquee"><span>We will continue to film every moment, and we will share them all.</span></marquee>
			<label for="chkbx4proof{{ i }}" class="proof-nav-button u-button">&cross;close&cross;</label>
		</nav>
		<div class="proof-content">
			<div class="proof-header">
				<h5 class="proof-header-title">KEYWORDS: "data tampering", "grading integrity", "disappearing marks", "manual content modification".</h5>

			</div>
			<div class="proof-details">
				<div class="proof-details-extra">
					PS: Page Design still in construction. Kindly download the mp4 videos directly, below.
				</div>

				<div class="proof-details-content">
					What's included in the videos?<br />
					(1) Assigment uploaded at night.<br />
					(2) Graded 0, less than an hour later, in the middle of the night.<br />
					(3) Assigment deleted after complain.<br />
					(4) Platform blocked from reuploading.<br />
					(5) Assigment upload option blocked in other courses.<br />
					PS: They do this type of things DELIBERATELY but the resulting "blank score" will always be pinned as the student's fault.
				</div>

				<div class="proof-details-extra">
					Questions?<br />
					(1) Resolution? None on Oct. 27. Upload not reenabled. Grade still noted 0.<br />
					(2) Any hints? The first rumor was that of color grading. Green on the "graded". Ridiculous, right?<br />
					(3) Any videos with faces? Yes, not on this site yet.<br />
					(4) Tool used to screen-record? "Rec - Screen Recorder"<br />
					(5) Validity of recording? Full video includes a page refresh and a google search for "date and time". Available upon request.<br />
					PS: Ask Me Anything! And also, what can you guess their excuses will be now that they know their data tampering is public?
				</div>

				<div class="proof-details-people">
					Who's involved?<br />
					(1) N. Mugidwa. (stage: first hour)<br />
					(2) S. Murali. (stage: resolution)<br />
					(3) Invigilator 1 (stage: resolution)<br />
					(4) S. Tyadela (annexed data editor) <br />
					(5) N. Mudau (annexed data editor)<br />
					(6) W. Mlangeni (annexed data editor)<br />
					(7) S. Thwala (annexed data editor)
				</div>

				<nav class="proof-details-nav">
				<!--
					<span class="proof-details-nav-button">&lArr;</span>
				-->
					<div class="proof-details-nav-extra">
						download
						<a href="/assets/videos/vid-1.mp4" class="proof-details-nav-button d-decoUnderline" download="">vid-1.mp4</a>
						<a href="/assets/videos/vid-2.mp4" class="proof-details-nav-button d-decoUnderline" download="">vid-2.mp4</a>
					</div>
				<!--
					<span class="proof-details-nav-button">&rArr;</span>
				-->
				</nav>
			</div>
			<div class="proof-media">
				<img src="/assets/images/video-phone-foreground.png" class="proof-media-hand" />

				<video class="proof-media-video" autoplay loop muted>
					<source type="video/mp4" src="/assets/videos/vid-1.mp4" />
				</video>
			</div>
		</div>
	</div></li>{% endfor %}
</ul>