<section class="sample1">
	<div class="sample1-part1">
		<div class="d-screenSpacerForCSSsnapPoints-wrapGrandParent"><ul class="d-screenSpacerForCSSsnapPoints-wrapParent">{% for i in (1..5) %}
			<li class="d-screenSpacerForCSSsnapPoints"><a>
				<hgroup>
					<span>({{ i }})</span>
					<h5>Natural <br />Sunlight Glow</h5>
				</hgroup>
			</a></li>
		{% endfor %}</ul></div>
		
		<header class="sample1-part1-header">
			<h4 class="sample1-part1-header-title">Discovering the Charms of Your Getaway</h4>
			<p class="sample1-part1-header-text">Embark on a journey of leisure and relaxation, while every moment is a step deeper into tranquility.</p>
		</header>
	</div>
	
	<div class="sample1-part2">
		<header class="sample1-part2-header">
			<h4 class="sample1-part2-header-title">ecoshire</h4>
			<p class="sample1-part2-header-text">Immerse yourself in the finest modern living, where charm seemlessly blends with comfort. Our enchanting retreat promises a unique-escape amidst serene surroundings.</p>
		</header>
		
		<div class="m-folks">
			<ul class="m-folks-list">{% for i in (1..7) %}
				<li class="m-folks-list-item"><figure class="m-folks-figure">Name{{ i }}</figure></li>{% endfor %}
			</ul>
			<span class="m-folks-title">100k happy clients</span>
		</div>
		
		<div class="sample2-part2-reviews">
			<p class="sample2-part2-reviews-text">Discover delighted guest reviews of our enchanting house experience.</p>
			<div class="sample2-part2-reviews-buttons">
				<span class="u-button">4.9 <span class="u-button-icon">stars</span></span>
				<span class="u-button">Clients Reviews</span>
			</div>
		</div>
	</div>
</section>