<section class="whitePaper d-midWrap">
	<header class="whitePaper-header_dock"><div class="whitePaper-header">
		<hgroup class="whitePaper-header-title_wrap"><h5 class="whitePaper-header-title">Case Study</h5></hgroup>

		<div class="whitePaper-header-description_wrap"><div class="whitePaper-header-description">
			<p class="whitePaper-header-description-p"></p>
		</div></div>

		<img src="/assets/images/placeholder-1x1.png" class="whitePaper-header-hgroup-placeholder" />
	</div></header>
	
	<div class="whitePaper-content">
		<h4 class="whitePaper-content-title"><span class="whitePaper-content-title-span">A Case-Study of a Subpar Education System</span></h4>

		<div class="whitePaper-content-text">
			<p class="whitePaper-content-text-p">I always say, "The 4IR Industrial Revolution is Africa's moment to leapfrog." My life's observations into the educational landscapes of three continents reveal a sobering reality: Africa has a dilemma! Here we'll have an in-depth exploration shedding light on the struggles, shortcomings, and systemic issues that plague our institutions, aiming to identify key areas for improvement and reforms in the realm of education.<br /><br />PS: Madam Ella has yet to cite publicly her (future) thesis of interest. <span class="">If you too, regret registering to a shit school, put a like on <a class="d-decoUnderline" href="https://www.instagram.com/p/CwlWU8JNELq/?igshid=NTc4MTIwNjQ2YQ==">this link</a>!</span></p>

		<!--
			<p class="whitePaper-content-text-p">A comprehensive investigation into the educational landscape reveals a sobering reality: a case study of schools facing significant challenges in delivering quality education. This in-depth exploration sheds light on the struggles, shortcomings, and systemic issues plaguing these instituions, aiming to identify key areas for improvement and reform in the realm of education.<br /><br />PS: Madam Ella hasn't chosen the field of her future thesis yet. However, here is what her life will be exploring regardless.</p>
		-->
		</div>
	</div>
</section>