<section class="guess d-midWrap">
	<header class="guess-header">
		<div class="guess-header-text">
			This December 04, I received a shocking email.<br />
			Richfield had decided to enforce what was clearly another manufactured problem.<br /><br />
			Despite their latter rescinding, I was horiffied to see that, despite all the truths and all the proofs, they were adamant in causing these problems in my academic life.<br /><br />
			If you've been following me since I started this public page, you have noticed these common interferences. Now, as I prepare to add more content this holiday season, feel free to send in your guesses on what problem they will manufacture next as retaliation for my exposing them.
		</div>
		<div class="guess-header-aside">
			<img src="/assets/images/icon_email_colors.gif" class="guess-header-aside-gif" />
		</div>
	</header>
	<form class="guess-content" action="https://formspree.io/f/xwkgervq" method="post">
		<div class="guess-content-fieldset">
			<textarea class="guess-content-fieldset-textarea" name="Guess">Type your guesses here!</textarea>
		</div>
		<div class="guess-content-aside">
			<input type="submit" value="Send" class="guess-content-aside-button" />
			
			<div class="guess-content-aside-text">
				When January comes, I will let you know how many of you had guessed correctly.
			</div>
		</div>
	</form>
</section>