<section class="movies d-midWrap">
	<!--
	<header>
		<h4 class="movies-header-title">TV Adaptations</h4>
	</header>
	-->

	<div class="movies-content"><ul class="movies-content-list">{% for file in site.data.movies %}
		<li class="movies-content-list-item"><div class="movies-content-box">
			<div class="movies-content-box-thumbnail">
				<img src="/assets/images/placeholder-3x2.png" class="movies-content-box-thumbnail-img" style="background-image: url('/assets/images/movies/{% for data in file[forloop.index] %}{{ data.thumbnail }}{% endfor %}');" />
				<span class="movies-content-box-thumbnail-shade"></span>

				<span class="movies-content-box-thumbnail-button">TV Adaptation <br /><label for="chkbx4movie{{ forloop.index }}" class="u-button d-decoUnderline">Tap</label> to view</span>
			</div>

			<div class="movies-content-box-details"><div class="movies-content-box-details-dock">
				<nav class="movies-content-box-details-nav"><label for="chkbx4movie{{ forloop.index }}" class="movies-content-box-details-nav-button">Close</label></nav>

				<div class="movies-content-box-details-body">
					<h5 class="movies-content-box-details-name">Movie Name: <span class="d-decoUppercase">{% for data in file[forloop.index] %}{{ data.name }}{% endfor %}</span></h5>
					<p class="">Commentary: <span class="">{% for data in file[forloop.index] %}{{ data.commentary }}{% endfor %}</span></p>

					<span class="movies-content-box-details-spacer"></span>
					<p>Watch a clip on YouTube! <a href="{% for data in file[forloop.index] %}{{ data.YT }}{% endfor %}" class="d-decoUnderline">Click here!</a></p>

					<img src="/assets/images/movies/{% for data in file[forloop.index] %}{{ data.thumbnail }}{% endfor %}" />

					<!--
					<video class="movies-content-box-details-video" type="video/mp4;codecs='avc1.42E01E,mp4a.40.2'" controls>
						<source src="/assets/videos/movies/{% for data in file[forloop.index] %}{{ data.video }}{% endfor %}" />
					</video>
					-->
				</div>
			</div></div>
		</div></li>{% endfor %}
	</ul></div>
</section>