<section class="refunds">
			<div class="refunds-box">
				<div class="refunds-box-course">
					<h5 class="refunds-box-course-name">Mathematics 512</h5>
					<span class="refunds-box-course-price">Course Price: R3358</span>
					<p class="refunds-box-course-description">Mathematics 512 has been subject to several cases of blatant academic malpractice, from data tampering to deliberate assignment cancelling, etc.</p>
					<div class="refunds-box-course-details">
						And this January again, Richfield completly refused to acknowledge the matter at all. That's how they run their school internally. When I bring forth a provable claim, they go hide!
					</div>
				</div>
			</div>
		</section>