/*** CANCEL ***/
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.banner { position: relative; z-index: 10; }
.menu { position: relative; z-index: 20; }
/*** END Z-INDEXES ***/

/*** COLORS ***/ {% assign vColorGreen = "#03EA60" %}
.menu-button:hover,
.menu-button:active,
.menu-button:focus,
#chkbx4menu:checked ~ main .menu-button,
.m-thesis-header { background-color: {{ vColorGreen }}; }
.banner-title { color: {{ vColorGreen }}; }

.menu-tooltip { background-color: black; }
.menu-button:hover,
.menu-button:active,
.menu-button:focus,
#chkbx4menu:checked ~ main .menu-button { color: black; }

.menu-button,
.menu-link,
.m-thesis-content { background-color: rgba(0, 0, 0, .7); }

.menu-button,
.menu-link,
.menu-tooltip { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{ font-family:"OCR A Extended";src:url("../../assets/fonts/OCRAEXT.TTF"); }

* { font-family: "OCR A Extended"; }

.menu-button,
.menu-tooltip { font-size: .9em; }
.menu-link,
.m-thesis-header { font-size: 1.19em; }
.banner-title { font-size: 2.5em; }

.banner-title,
.menu,
.partners-logos-figure:nth-child(2),
.partners-text-p { text-align: center; }
.content-item:nth-child(1) .m-thesis-header,
.partners-logos-figure:nth-child(1) { text-align: left; }
.content-item:nth-child(3) .m-thesis-header,
.partners-logos-figure:nth-child(3) { text-align: right; }

.menu-button,
.menu-link { font-variant: small-caps; }
.banner-title { font-weight: bold; }
.menu-button { text-transform: uppercase; }
/*** END FONTS ***/

/*** MEDIA ***/{% for i in (1..6) %}
.banner-placeholder:nth-child({{ i }}) { background-image: url("../../assets/images/nao-research/gallery/banner-{{ i }}.jpg"); }{% endfor %}
.banner-placeholder {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-placeholder,
.robot360-placeholder { filter: grayscale(100%); }
/*** END MEDIA ***/

/*** UTILITIES ***/
    /*** .u-card ***/
    .u-card {
        position: relative;
    }
    .u-card .u-card-front, .u-card .u-card-back {
        display: block;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 0.5s;
        transition-property: transform, opacity;
    }
    .u-card .u-card-front {
        transform: rotateY(0deg);
    }
        .u-card:hover .u-card-front,
        .u-card:active .u-card-front,
        .u-card:focus .u-card-front {
            transform: rotateY(180deg);
        }
    .u-card  .u-card-back {
		opacity: 0;
        visibility: hidden;
        transform: rotateY(-180deg);
    }
        .u-card:hover .u-card-back,
        .u-card:active .u-card-back,
        .u-card:focus .u-card-back {
			opacity: 1;
            visibility: visible;
            transform: rotateY(0deg);
        }
        .u-card:hover .u-card-front,
        .u-card:active .u-card-front,
        .u-card:focus .u-card-front {
			opacity: 0;
            visibility: hidden;
		}
    .u-card_static .u-card-back-data { display: none !important; }
/*** END UTILITIES ***/

/*** MIXINS ***/
	/*** .m-thesis ***/
	.m-thesis-content,
	.m-thesis-header {
		width: 100%; height: 100%;
		padding: 1em;
	}
	.m-thesis-content {
		position: absolute; top: 0; left: 0;
	}
/*** END MIXINS ***/

/*** COMPONENTS ***/
	/*** .banner ***/
	.banner-placeholder {
		display: block;
		float: left;
	}
	.banner-title {
		position: absolute; bottom: 1em; left: 0; right: 0;
	}
	
	/*** .content ***/
	.content {
		display: grid;
	}

	/*** .menu ***/
	.menu {
		position: absolute; left: 0; right: 0;
		width: 100%;
	}
	.menu-button {
	}
	.menu-list {
		padding: 1em;
	}
	.menu-list-item {
		position: relative;
		padding: 0 .5em;
	}
	.menu-button,
	.menu-link,
	.menu-tooltip { display: block; }
	.menu-button,
	.menu-link {
		padding: .5em .1em;
	}
	.menu-tooltip {
		padding: .25em;
	}

	/*** .partners ***/
	.partners-logos { display: flex; }
	.partners-logos-figure { flex: 1; }
	
	.partners-logos-figure-img {
		width: auto; height: 1.9em;
	}
/*** END COMPONENTS ***/

/*** PAGES ***/
/*** END PAGES ***/

/*** INTERACTIVITY ***/
.menu-button { cursor: pointer; }

.menu-tooltip { visibility: hidden; }
.menu-link:hover ~ .menu-tooltip { visibility: visible; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
    body, html, main { font-size: 16px; }
	
	.partners-logos-figure-img.is-logo { display: none; }
	
	.partners {// background-color: rgba(0, 0, 0, .1); }
	
	.banner { height: 70vh; }
	.banner-placeholder { height: 50%; }
	.banner-placeholder:nth-child(1),
	.banner-placeholder:nth-child(3),
	.banner-placeholder:nth-child(4),
	.banner-placeholder:nth-child(6) { width: 25%; }
	.banner-placeholder:nth-child(2),
	.banner-placeholder:nth-child(5) { width: 50%; }

	.partners-logos-figure,
	.partners-text-p { padding: .5em; }
	
	.menu-list { display: none; }
	#chkbx4menu:checked ~ main .menu-list { display: block; }
}
@media all and (min-width: 25em) and (max-width: 50em) {
	.content-item:nth-child(1),
	.content-item:nth-child(3) {
		grid-row-start: 1; grid-row-end: 2;
	}
	.content-item:nth-child(1) {
		grid-column-start: 1; grid-column-end: 2;
	}
	.content-item:nth-child(2) {
		grid-column-start: 1; grid-column-end: 3;
		grid-row-start: 2; grid-row-end: 3;
	}
	.content-item:nth-child(3) {
		grid-column-start: 2; grid-column-end: 3;
	}
}
@media all and (min-width: 50em) {
    body, html, main { font-size: 18px; }

	.menu-button,
	.partners-logos-figure-img.is-icon { display: none; }
	
	.banner { height: 60vh; }
	.banner-placeholder { width: 33.333%; height: 50%; }
	
	.content {
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: auto;
	}
	
	.menu-list { display: flex; }
	.menu-list-item { flex: 1; }
	
	.partners-logos-figure,
	.partners-text-p { padding: 1em; }
	
	.partners-text { width: 90%; margin: 0 auto; }
}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
.d-cssCentered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.d-midWrap {
    max-width: 70em;
    margin: 0 auto;
}
.d-midDock {
    max-width: 50em;
    margin: 0 auto;
}
/*** END DECORATION ***/

/*** ANIMATION ***/
/*** END ANIMATION ***/

/*** CSS HACKS ***/
main {// min-width: 25em; }

.m-thesis .u-card-back,
.m-thesis .u-card-front { display: flex !important; }
/*** END CSS HACKS ***/

/*** TO DELETE ***/
/*** END TO DELETE ***/