/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }

.pg-welcome.pg-richfield { min-width: 30em; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.d-background,
.d-matrix { position: relative; z-index: 10; }
main { position: relative; z-index: 20; }

.menu-box-veil { position: relative; z-index: 30; }
.menu-box-header { position: relative; z-index: 40; }

.page { position: relative; z-index: 50; }
.aside { position: relative; z-index: 60; }
.page a { position: relative; z-index: 70; }

	.daily-box-header-dock { position: relative; z-index: 80; }
	.daily-box-header-date { position: relative; z-index: 90; }

.cameraRollButton { position: relative; z-index: 100; }
.menu-box-content { position: relative; z-index: 110; }
/*** END Z-INDEXES ***/

/*** COLORS ***/ {% assign vColorGreen = "#03EA60" %}
.aside_dock,
.aside-toc,
.daily-box-header-dock,
.daily-box-header-date,
.menu-box.nthChild-1 .menu-box-header,
.menu-box.nthChild-4 .menu-box-header,
.page-content-banner-placeholder:before,
.page-faq-content-box-question-figure,
.page-faq-review-figure,
.refunds-box-course-name { background-color: {{ vColorGreen }}; }
.menu-aside-h1 {// color: {{ vColorGreen }}; }
.daily-box-header-date:before {// border-color: transparent {{ vColorGreen }} {{ vColorGreen }} transparent; }

.aside-button,
.aside-toc-category:before,
.aside-toc-link:before,
.aside-toc-link:after,
.aside-toc-title,
.daily-box-content,
.footer-wrap,
.menu-box.nthChild-1 .menu-box-content,
.menu-box.nthChild-4 .menu-box-content,
.menu-box-veil,
.refunds-box-course-price,
.u-button { background-color: black; }
.u-button:hover,
.u-button:active,
.u-button:focus { color: black; }

 { background-color: #AAA; }
.page-faq-content-list,
.page-faq-content-list-item { border-color: #AAA; }

.menu-box.nthChild-2,
.menu-box.nthChild-3,
.menu-box.nthChild-5,
.refunds-box-course-details,
.u-button:hover,
.u-button:active,
.u-button:focus { background-color: #eee; }

.menu-aside-wrap { background-color: white; }
.aside-button,
.aside-toc-title,
.aside-toc-title *,
.daily-box-content *,
.footer *,
.menu-box.nthChild-1 .menu-box-content,
.menu-box.nthChild-1 .menu-box-content *,
.menu-box.nthChild-4 .menu-box-content,
.menu-box.nthChild-4 .menu-box-content *,
.menu-box.nthChild-4 .menu-box-header,
.menu-box.nthChild-2:hover .menu-box-header,
.menu-box.nthChild-2:active .menu-box-header,
.menu-box.nthChild-2:focus .menu-box-header,
.menu-box.nthChild-3:hover .menu-box-header,
.menu-box.nthChild-3:active .menu-box-header,
.menu-box.nthChild-3:focus .menu-box-header,
.menu-box.nthChild-5:hover .menu-box-header,
.menu-box.nthChild-5:active .menu-box-header,
.menu-box.nthChild-5:focus .menu-box-header,
.refunds-box-course-price,
.u-button { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{font-family:"OCR A Extended";src:url("../../assets/fonts/OCRAEXT.TTF");}

* { font-family: "OCR A Extended"; }

.refunds-box-course-name { font-size: 1.9em; }

.aside-toc-category,
.aside-toc-link,
.page-nav-breadcrumbs a { font-size: .9em; }

.aside-toc-title,
.menu-aside-h1,
.menu-box-header,
.page-content-banner-title,{% for i in (1..19) %}
#rdb4faq{{ i }}:checked ~ main .page-faq-content-list-item:nth-child({{ i }}) .page-faq-content-box-question-q,{% endfor %}
.page-faq-title,
.d-font_bold { font-weight: bold; }
.page-content-banner-title { font-variant: small-caps; }
.aside-button,
.aside-toc-title,
.footer-wrap,
.menu-box-header { text-align: center; }
.page-content-banner-title { text-align: left !important; }
.menu-header,
.page-content-banner,
.page-nav { text-align: right; }
.aside-message-p a,
.aside-toc-link:hover,
.aside-toc-link:active,
.aside-toc-link:focus,
.footer a,
.page-faq-review-text a,
.page-nav-breadcrumbs a,
.u-link { text-decoration: underline; }
.aside-toc-title { text-transform: uppercase; }
/*** END FONTS ***/

/*** MEDIA ***/
	/*
	.daily-box-header-people-img.is-jane-netsienda { background-image: url("/assets/images/richfield-case-study/people/unknown.png"); }
	.daily-box-header-people-img.is-khanyisile-ngcobo { background-image: url("/assets/images/richfield-case-study/people/unknown.png"); }
	.daily-box-header-people-img.is-rodney-r { background-image: url("/assets/images/richfield-case-study/people/unknown.png"); }
	.daily-box-header-people-img.is-sagi-murali { background-image: url("/assets/images/richfield-case-study/people/unknown.png"); }
	*/
	.daily-box-header-people-img { background-image: url("/assets/images/richfield-case-study/people/unknown.png"); }
	.daily-box-header-people-img.is-placeholder { background-image: initial !important; }
	.daily-box-header-people-img {
		background-size: cover;
		background-color: white;
	}

.d-matrix { background-image: url("../../assets/images/richfield-case-study/logo_background_black.png"); }
.d-matrix {
	background-position: center;
	background-size: 10em;
}

.menu-box.nthChild-4 .menu-box-header { background-image: url("../../assets/images/richfield-case-study/photo-op_madam-ella.png"); }
.menu-box-header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.menu-aside-img { filter: grayscale(100%); }

.page-content-banner-placeholder,
.page-faq-content-box-question-figure,
.page-faq-review-figure-placeholder { background-image: url("../../assets/images/richfield-case-study/background_page-inner.png"); }
.page-content-banner-placeholder,
.page-faq-content-box-question-figure,
.page-faq-review-figure-placeholder {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.page-content-banner-placeholder:before { opacity: .7; }
/*** END MEDIA ***/

/*** UTILITIES ***/
	/*** .u-button ***/
	.u-button {
		display: inline-block;
		padding: .5em;
//		border-radius: .5em;
	}
		.u-button.page-faq-review-figure-button { border-radius: .5em .5em 0 0; }

    /*** .u-card ***/
    .u-card {
        position: relative;
    }
    .u-card .u-card-front, .u-card .u-card-back {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
        display: block;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 0.5s;
        transition-property: transform, opacity;
    }
    .u-card .u-card-front {
        transform: rotateY(0deg);
    }
        .u-card:hover .u-card-front,
        .u-card:active .u-card-front,
        .u-card:focus .u-card-front {
			opacity: 0;
            transform: rotateY(180deg);
        }
    .u-card  .u-card-back {
        opacity: 0;
        transform: rotateY(-180deg);
    }
        .u-card:hover .u-card-back,
        .u-card:active .u-card-back,
        .u-card:focus .u-card-back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    .u-card_static .u-card-back-data { opacity: 0; }

    /*** .u-title ***/
    .header .u-title { padding: 0; }
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	.menu-header-logo-img,
	.page-nav-logo-img {
		width: auto; height: 1.9em;
	}
	
	.aside_dock,
	#chkbx4TOC:checked ~ main .aside-toc_dock { padding: 1em; }
/*** END COMPONENTS ***/

/*** PAGE: WELCOME ***/
        /*** COMMONS ***/
		main { display: flex; }
		main { flex-direction: column; }
		.menu { flex: 1; }
	
	/*** .footer ***/
	.footer {
		padding: .5em 1em 1em 1em;
	}
	.footer-wrap {
		padding: 1em;
	}
	
	/*** .menu ***/
	.menu-box-header { display: flex !important; }
	.menu {
		padding: .5em;
	}
	
	.menu-aside {
		padding: .5em;
	}
	.menu-aside-img {
		width: auto; height: 50%;
	}
	.menu-aside-wrap {
	}
	
	.menu-header {
		padding: .5em;
	}
	
	.menu-box {
		position: relative;
	}
	.menu-box {
		margin: 0 .5em;
//		padding: 0 1em;
	}
	.menu-box.nthChild-2,
	.menu-box.nthChild-4 {// margin: 0; }
	.menu-box.nthChild-1 { margin-top: .5em; }
	.menu-box-content {
		padding: 1em;
	}
	.menu-box-header {
		padding: 1em .5em;
		width: 100%; height: 100%;
	}
	.menu-box.nthChild-2 .menu-box-header,
	.menu-box.nthChild-3 .menu-box-header,
	.menu-box.nthChild-5 .menu-box-header {// padding: 1em 0 !important; }
	.menu-box-veil {
		position: absolute; top: 0; left: 0;
		display: block;
		width: 100%; height: 100%;
	}
/*** END PAGE: WELCOME ***/

/*** PAGE: INNER ***/
	/*** COMMONS ***/
	
	/*** .aside ***/
	.aside_dock,
	.aside-toc_dock { display: flex; }
	.aside_dock,
	.aside-toc_dock { flex-direction: column; }
	.aside-toc,
	.aside-toc-list_wrap { flex: 1; }

	.aside {
		position: relative;
	}
	.aside_dock {
		position: relative;
		width: 100%; height: 100%;
		
		overflow: auto;
	}
	
	.aside-button {
		display: inline-block;
		padding: .25em 0;
	}
	#chkbx4mobileMenu:checked ~ main .aside-button { position: absolute; left: 0; }
	
	.aside-message-video {
		max-width: 19em;
		display: block;
		padding: 1.9em 0;
		margin: 0 auto;
	}
	.aside-toc,
	.aside-toc_dock {
		width: 100%; height: 100%;
	}
	.aside-toc-list_wrap {
		
		overflow-y: auto;
	}
	.aside-toc-category,
	.aside-toc-link {
		position: relative;
		display: block;
	}
	.aside-toc-category:before,
	.aside-toc-link:before,
	.aside-toc-link:after {
		content: "";
		position: absolute; left: 0;
		display: block;
	}
	.aside-toc-category {
		padding: .75em 0;
	}
	.aside-toc-category:before {
		bottom: -.25em;
		width: 1.9em; height: .25em;
	}
	.aside-toc-link {
		padding: .25em .75em;
		margin-left: 1.9em;
	}
	.aside-toc-link:before {
		top: 0;
		width: .25em; height: 100%;
	}
	.aside-toc-link:after {
		top: .5em;
		width: .5em; height: .5em;
	}
	.aside-toc-title {
		display: block;
		padding: .5em;
	}
	
	/*** .page ***/
	.page,
	.page-content,
	.page-content-text { display: flex; }
	.page,
	.page-content { flex-direction: column; }
	.page-content-text { align-items: flex-end; justify-content: flex-end; text-align: right; }
	.page-content,
	.page-content-text { flex: 1; }
	
	.main_dock { height: 100%; }
	
	.page {
		flex: 1;
		overflow-y: scroll;
	}
	.page_dock:nth-child(1) { min-height: 100%; }
	.page_dock {
//		min-height: 100%;
	}
	
	.page-content-banner {
		position: relative;
	}
	.page-content-banner-placeholder {
		position: relative;
		width: 60vw;
		display: inline-block;
	}
	.page-content-banner-placeholder:before {
		content: "";
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
		display: block;
	}
	.page-content-banner-title {
		position: absolute; left: 0; bottom: 0;
	}
	
	.page-content-text {
		padding-top: 1.9em;
	}
	
	.page-faq-content-box-question { display: flex; }
	.page-faq-content-box-question-q { flex: 1; }
	.page-faq-content-list,
	.page-faq-content-list-item {
		border-width: .1em 0; border-style: solid;
	}
	.page-faq-content-list-item {
		padding: 1em;
	}
	.page-faq-content-box-question-figure {
		width: 40%; height: 3em;
		border-radius: .5em;
	}
	.page-faq-content-box-question-q {
	}
	.page-faq-content-button {
		margin: 1em;
	}
	
	.page-faq-review {
	}
	.page-faq-review-figure {
		position: relative;
		width: 70%; height: 7em;
		margin: 1em 0;
		margin-top: 3em;
		border-radius: .5em;
	}
	.page-faq-review-figure-button {
		position: absolute; bottom: 100%; left: 0;
	}
	.page-faq-review-figure-button:before,
	.page-faq-review-figure-button:after {
		content: "";
		position: absolute;
	}
	/*
	.page-faq-review-figure-button:after {
		top: .3em; right: -1.5em;
		border-bottom: 1.5em solid black;
		border-right: 1.5em solid transparent;
	}
	*/
	.page-faq-review-figure-button:before {
		bottom: 0; left: 100%;
		width: 1em; height: 1em;
		background-image: radial-gradient(circle at 100% -10%, transparent 1em, black 1em);
	}
	.page-faq-review-figure-placeholder {
		position: relative; top: -.25em;
		width: 100%; height: 100%;
		display: block;
		border-width: .25em; border-style: solid; border-color: black;
		border-radius: 0 .5em .5em .5em;
	}
	
	.page-nav-logo-img {
		margin: 1em 0;
	}
/*** END PAGE: INNER ***/

/*** PAGE: DAILY UPDATES ***/
	/*** .daily ***/
	.daily-box {// background-color: purple; }
	.daily-box-header-date {// background-color: green; }
	.daily-box-header-hgroup-title { font-weight: bold; }

	.daily-box-content img,
	.daily-box-content p {
		padding: 1em;
	}
	
	.daily-box-header {
		text-align: right;
	}
		.daily-box-header-dock {
			position: relative;
			padding: .5em;
			border-width: .1em .1em .1em .1em; border-style: solid;
			text-align: left;
		}
	.daily-box-header-date {
		position: relative; top: .1em;
		/*
		position: absolute; bottom: 100%; right: -.1em;
		*/
		display: inline-block;
		padding: .5em;
		
		border-width: .1em .1em 0 0; border-style: solid;
	}
	.daily-box-header-date:before {
		content: "";
		position: absolute; top: 0; right: 100%;
		border-width: 1em; border-style: solid;
		border-color: transparent {{ vColorGreen }} {{ vColorGreen }} transparent;
	}
	.daily-box-header-hgroup-subtitle {
		width: 90%;
		display: block;
		padding: 1em 0;
	}
	
	.daily-list-item { margin: 1em 0; }
	
	.daily-box-header-people {
		position: relative;
	}
	.daily-box-header-people-img {
		position: absolute;
		width: 3em;
		border: .1em; border-style: solid;
		border-color: white;
	}
	.daily-box-header-people-img:nth-child(1) { position: relative !important; z-index: 19; }{% for i in (2..19) %}
	.daily-box-header-people-img:nth-child({{ i }}) { left: {{ 2.5 | times: i | divided_by: 2 }}em; z-index: {{ i }}; }{% endfor %}
	
	.daily-box-header-toggle {
		position: absolute; top: .5em; right: .5em;
	}
/*** END PAGE: DAILY UPDATES ***/

/*** PAGE: LAWS ***/
	/*** .cases ***/
	.cases-box,
	.cases-header,
	.cases-header-nav { display: flex; }
	.cases-header {// flex-direction: column; }
	.cases-header { align-items: flex-end; }
	.cases-header,
	.cases-header-nav-line,
	.cases-content,
	.cases-aside { flex: 1; }
	.cases-content {
		min-height: 19em;
		background-color: purple;
	}
	.cases-header-title {
		display: inline-block;
		font-size: 1.9em;
		padding: 1em 0;
	}
	.cases-header-nav {
//		border: 1px solid purple;
	}
	.cases-header-nav-line {
		height: .25em;
		background-color: black;
	}
	
/*** END PAGE: LAWS ***/

/*** PAGE: UNMASKING RICHFIELD ***/
	/*** refunds ***/
	.refunds-box-course * {
		margin: .5em;
	}
	.refunds-box-course-description {
		display: flex;
		align-items: flex-end;
	}
	.refunds-box-course-details {
		min-height: 5.5em;
		padding: .5em;
	}
	.refunds-box-course-name {
		min-height: 7em;
		padding: .5em;
	}
	.refunds-box-course-price {
		padding: .5em;
	}
/*** END PAGE: UNMASKING RICHFIELD ***/

/*** INTERACTIVITY ***/
.aside-button,
.aside-toc-title,
.u-button,
.u-link { cursor: pointer; }

.aside-toc-list { display: none; }
#chkbx4TOC:checked ~ main .aside-toc-list { display: block; }
.aside-toc { position: relative; }
#chkbx4TOC:checked ~ main .aside-toc { position: absolute; top: 0; left: 0; }

.menu-box-veil { opacity: 0; }
.menu-box:hover .menu-box-veil,
.menu-box:active .menu-box-veil,
.menu-box:focus .menu-box-veil { animation: appear 1.9s ease-in; opacity: 1; }
	.menu-box:hover .menu-box-header { animation-delay: 1.9s; }
	
.page-faq-content-list-item.isMore { display: none; }
	#rdb4faqMore:checked ~ main .page-faq-content-list-item.isMore { display: block; }
	
#rdb4faqMore:checked ~ main .page-faq-content-button { display: none; }

.page-faq-content-box-answer,
.page-faq-content-box-question-figure { display: none; }{% for i in (1..19) %}
	#rdb4faq{{ i }}:checked ~ main .page-faq-content-list-item:nth-child({{ i }}) .page-faq-content-box-answer { display: block; }
	#rdb4faq{{ i }}:checked ~ main .page-faq-content-list-item:nth-child({{ i }}) .page-faq-content-box-question-figure { display: block; }{% endfor %}

.daily-box-content { height: 0; overflow: hidden; }{% for i in (1..31) %}
	#chkbx4dailyUpdate{{ i }}:checked ~ main .daily-list-item:nth-child({{ i }}) .daily-box-content { height: auto !important; } {% endfor %}
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
    body, html, main { font-size: 16px; }
	
	/*** PAGE: WELCOME ***/
	.menu-aside-h1 { font-size: 2em; }
	.menu-box-header { font-size: 1.5em; }
	
	.cameraRollButton { right: initial !important; left: 1em; }
	
	.menu-box {
		margin: 1em .5em;
	}
	.menu-box.nthChild-1,
	.menu-box.nthChild-4,
	.page-content-banner-placeholder { min-height: 25vh; }
	.menu-box.nthChild-1 .menu-box-header,
	.menu-box.nthChild-4 .menu-box-header { align-items: flex-end; }
	.menu-box.nthChild-2 .menu-box-header,
	.menu-box.nthChild-3 .menu-box-header,
	.menu-box.nthChild-5 .menu-box-header { justify-content: flex-end; }
	
	/*** PAGE: INNER ***/
	.page-content-banner-title { font-size: 3em; }
	.page-faq-title { font-size: 1.25em; }

	#chkbx4mobileMenu:checked ~ main .aside { width: 1.9em; }
		#chkbx4mobileMenu:checked ~ main .aside-button ~ * { display: none; }

	.aside,
	.pg-inner .footer,
	.page { padding: 1em; }
		.pg-inner .footer,
		.page { padding-left: 4em;  }
	.aside {
		position: fixed; top: 0; left: 0;
		width: 100%; height: 100%;
	}
	
    .d-background-video {
        height: 100%; width: auto;
    }
	
	/*** PAGE: UNMASKING RICHFIELD ***/
	.refunds-box { margin: 3em 0; }
	.refunds-box-course-description { padding: 1em 0; }
}
@media all and (min-width: 50em) {
    body, html, main { font-size: 18px; }
	
	/*** PAGE: WELCOME ***/
	.menu-aside-h1 { font-size: 3em; }
	.menu-box-header { font-size: 1.9em; }

	.menu {
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
	.menu-aside {
		grid-column-start: 3; grid-column-end: 6;
		grid-row-start: 1; grid-row-end: 3;
	}
	
	.menu-box.nthChild-1 .menu-box-header,
	.menu-box.nthChild-3 .menu-box-header,
	.menu-box.nthChild-4 .menu-box-header,
	.menu-box.nthChild-5 .menu-box-header { align-items: flex-end; }
	.menu-box.nthChild-1 {
		grid-column-start: 1; grid-column-end: 2;
		grid-row-start: 1; grid-row-end: 4;
	}
	.menu-box.nthChild-2 {
		grid-column-start: 2; grid-column-end: 3;
		grid-row-start: 2; grid-row-end: 4;
	}
	.menu-box.nthChild-3 {
		grid-column-start: 3; grid-column-end: 4;
		grid-row-start: 3; grid-row-end: 4;
	}
	.menu-box.nthChild-4 {
		grid-column-start: 4; grid-column-end: 5;
		grid-row-start: 3; grid-row-end: 4;
	}
	.menu-box.nthChild-5 {
		grid-column-start: 5; grid-column-end: 6;
		grid-row-start: 3; grid-row-end: 4;
	}
	.menu-header {
		grid-column-start: 2; grid-column-end: 3;
		grid-row-start: 1; grid-column-end: 2;
	}
	
	/*** PAGE: INNER ***/
	.aside-button { display: none !important; }
	
	.page-content-banner-title { font-size: 5em; }
	.page-faq-title { font-size: 1.9em; }

	.pg-inner main,
	.pg-inner .main_dock { display: flex; }
	.pg-inner main { flex-direction: column; }
	.pg-inner .main_dock,
	.pg-inner .page { flex: 1; }
	
	.aside,
	.main_dock,
	.page {
		padding: .5em;
	}
	
	.aside { width: 20%; }
	
	.page-content-banner-placeholder {
		height: 25vw;
	}
	
	.page-faq {
		width: 100%; height: 100%;
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.page-faq-title {
		grid-column-start: 1; grid-column-end: 2;
		grid-row-start: 2; grid-row-end: 3;
	}
	.page-faq-content {
		grid-column-start: 2; grid-column-end: 3;
		grid-row-start: 1; grid-row-end: 3;
	}
	.page-faq-title {
		grid-column-start: 1; grid-column-end: 2;
		grid-row-start: 1; grid-row-end: 2;
	}
	
    .d-background-video {
        min-width: 100vw; min-height: 100vh;
    }
	
	/*** PAGE: DAILY-UPDATES ***/
	.daily-list {
//		width: 50%;
		column-count: 2;
		margin-bottom: 3em;
	}
	.daily-box {
		break-inside: avoid-column;
	}
	
	/*** PAGE: UNMASKING RICHFIELD ***/
	.refunds-box-course { display: grid; }
	
	.refunds-box-course-description { grid-row-start: 1; grid-column-end: 2; }
	.refunds-box-course-details { grid-column-start: 3; grid-column-end: 4; }
	.refunds-box-course-name { grid-column-start: 2; grid-column-end: 3; }
	.refunds-box-course-price { grid-column-start: 2; grid-column-end: 4; }
	
	.refunds-box-course-description { grid-row-start: 1; grid-row-end: 2; }
	.refunds-box-course-details { grid-row-start: 2; grid-row-end: 3; }
	.refunds-box-course-name { grid-row-start: 1; grid-row-end: 2; }
	.refunds-box-course-price { grid-row-start: 3; grid-row-end: 4; }
	
	.refunds-box-course-description,
	.refunds-box-course-name { width: 20vw; }
	.refunds-box {
		margin-bottom: 5.5em;
	}
}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
    /*** .d-background ***/
    .d-background {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        overflow: hidden;
    }
    .d-background-video {
        position: fixed; top: 0; left: 0;
        /*
        position: absolute; top: 0; right: 0;
        min-width: 100vw;// min-height: 100% !important;
        */
        filter: grayscale(1);
        opacity: .4;
    }
	
	/*** .d-matrix ***/
	.d-matrix {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}
	
.d-cssCentered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d-midWrap {
    max-width: 70em;
    margin: 0 auto;
}
.d-midDock {
    max-width: 50em;
    margin: 0 auto;
}
/*** END DECORATION ***/

/*** ANIMATION ***/
	/*** .menu-box-veil ***/
	@keyframes appear { from { opacity: 0; } to { opacity: 1; } }
/*** END ANIMATION ***/

/*** CSS HACKS ***/
.aside-button { max-width: 2em; }

.menu-aside-wrap { display: flex; }
.menu-aside-wrap { flex-direction: row; }

.menu-aside-wrap {
	width: 100%; height: 100%;
}
.menu-aside-img {
	width: auto; height: 33.333vh;
}

.d-background,
.d-matrix { display: none !important; }
.d-matrix {
    background-color: transparent;
    backdrop-filter: blur(7px);
    filter: blur(7px);
}

.pg-inner .footer { padding-bottom: 0; padding-top: 1em; }

.cameraRollButton {
	position: fixed; top: 1em; right: 1em;
	width: 1.9em; height: 1.9em;
	background-image: url("../../assets/images/richfield-case-study/icon_truth_tinted.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/*** END CSS HACKS ***/

/*** TO DELETE ***/
.menu-header-logo-img.is-icon { display: none; }

.page-content-banner-placeholder,
.page-faq-content-box-question-figure,
.page-faq-review-figure-placeholder { filter: grayscale(100%); }
.page-content-banner-placeholder:before {// display: none; }
/*** END TO DELETE ***/