/*** CANCEL ***/
/*** END CANCEL ***/

/*** Z-INDEXES ***/
/*** END Z-INDEXES ***/

/*** COLORS ***/ {% assign vColorGreen = "#03EA60" %}

.caseStudy { background-color: black; }

.caseStudy, .caseStudy * { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{font-family:"OCR A Extended";src:url("../../assets/fonts/OCRAEXT.TTF");}

* { font-family: "OCR A Extended"; }

.caseStudy a { text-decoration: underline; }
/*** END FONTS ***/

/*** MEDIA ***/
/*** END MEDIA ***/

/*** UTILITIES ***/
/*** END UTILITIES ***/

/*** COMPONENTS ***/
        /*** COMMONS ***/
		
	/*** .caseStudy ***/
	.caseStudy {
		padding: 1em;
	}
/*** END COMPONENTS ***/

/*** PAGES ***/
/*** END PAGES ***/

/*** INTERACTIVITY ***/
 { cursor: pointer; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
    body, html, main { font-size: 16px; }
}
@media all and (min-width: 50em) {
    body, html, main { font-size: 18px; }
}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
.d-cssCentered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d-midWrap {
    max-width: 70em;
    margin: 0 auto;
}
.d-midDock {
    max-width: 50em;
    margin: 0 auto;
}
/*** END DECORATION ***/

/*** ANIMATION ***/
/*** END ANIMATION ***/

/*** CSS HACKS ***/
main { padding-top: initial !important; }
/*** END CSS HACKS ***/

/*** TO DELETE ***/
.breakingNews { display: none !important; }
/*** END TO DELETE ***/