/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
/*** END Z-INDEXES ***/

/*** COLORS ***/ {% assign vColorGreen = "#03EA60" %}
.sample1-part1 a,
.m-folks-figure { background-color: {{ vColorGreen }}; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{font-family:"OCR A Extended";src:url("../../assets/fonts/OCRAEXT.TTF");}

* { font-family: "OCR A Extended"; }
.sample1-part2-header-title { font-family: "Impact"; }

.sample1-part1-header-title { font-size: 1.9em; }
.sample1-part2-header-title { font-size: 1.5em; }
/*** END FONTS ***/

/*** MEDIA ***/
/*** END MEDIA ***/

/*** MIXINS ***/
	/*** .m-folks ***/
	.m-folks { display: flex; }
	
	.m-folks-list {
		position: relative;
		width: 19em; min-height: 1.9em;
		margin: 1em 0;
		border: 1px solid purple;
	}
	.m-folks-list-item { position: absolute; top: 0; }
	{% for i in (1..7) %}
	.m-folks-list-item:nth-child({{ i }}) { left: {{ i | times: '1.19' }}em; }{% endfor %}
	.m-folks-figure {
		width: 1.9em; height: 1.9em;
		text-indent: -9999px;
		border-radius: 50%;
	}
	.m-folks-figure {
		border: 1px solid purple;
	}
/*** END MIXINS ***/

/*** UTILITIES ***/
	/*** .u-button ***/
	.u-button {
		display: inline-block;
		padding: .5em 1.9em;
		border-width: .1em; border-style: solid;
		border-color: black;
		border-radius: 7em;
	}
	.u-button-icon {
		text-indent: -9999px;
		border: 1px solid purple;
	}

    /*** .u-card ***/
    .u-card {
        position: relative;
    }
    .u-card .u-card-front, .u-card .u-card-back {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
        display: block;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 0.5s;
        transition-property: transform, opacity;
    }
    .u-card .u-card-front {
        transform: rotateY(0deg);
    }
        .u-card:hover .u-card-front,
        .u-card:active .u-card-front,
        .u-card:focus .u-card-front {
			opacity: 0;
            transform: rotateY(180deg);
        }
    .u-card  .u-card-back {
        opacity: 0;
        transform: rotateY(-180deg);
    }
        .u-card:hover .u-card-back,
        .u-card:active .u-card-back,
        .u-card:focus .u-card-back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    .u-card_static .u-card-back-data { opacity: 0; }
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	
	/*** .sample1 ***/
	.sample1-part1 ul {
		padding: .5em;
	}
	.sample1-part1 li {
		padding: .5em;
	}
	.sample1-part1 a {
		width: 100%; min-height: 7em; height: 100%;
		padding: .5em;
		
		border-radius: .5em;
	}
	.sample1-part1-header {
		padding: 1em;
	}
	.sample1-part1-header-title {
		width: 75%;
		padding: .5em 0;
	}
	.sample1-part1-header-text {
		width: 50%;
	}
	.sample1-part2-header-text {
		padding: 1em 0;
	}
/*** END COMPONENTS ***/

/*** PAGE: CAMERA ***/
        /*** COMMONS ***/
	
/*** END PAGE: CAMERA ***/

/*** INTERACTIVITY ***/
 { cursor: pointer; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
    body, html, main { font-size: 16px; }
}
@media all and (min-width: 50em) {
    body, html, main { font-size: 18px; }
	
	.sample1,
	.sample1-part2 { display: flex; }
	.sample1-part2 { flex-direction: column; border: 1px solid purple; }

	.sample1-part1 { width: 75%; height: 100%; border: 1px solid green; }
	.sample1-part2 { width: 25%; }
}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
    /*** .d-background ***/
    .d-background {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        overflow: hidden;
    }
    .d-background-video {
        position: fixed; top: 0; left: 0;
        /*
        position: absolute; top: 0; right: 0;
        min-width: 100vw;// min-height: 100% !important;
        */
        filter: grayscale(1);
        opacity: .4;
    }
	
	/*** .d-matrix ***/
	.d-matrix {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}
	
	/*** .d-css ***/
	.d-screenSpacerForCSSsnapPoints-wrapGrandParent,
	.d-screenSpacerForCSSsnapPoints-wrapParent { width: 100%; height: 100%; }
	.d-screenSpacerForCSSsnapPoints-wrapGrandParent {
		overflow: auto;
		
		scroll-snap-type: mandatory;
		-webkit-scroll-snap-type: mandatory;
		-ms-scroll-snap-type: mandatory;
		-o-scroll-snap-type: mandatory;
		
		scroll-snap-points-x: repeat(25%);
		-webkit-scroll-snap-points-x: repeat(25%);
		-ms-scroll-snap-points-x: repeat(25%);
		-o-scroll-snap-points-x: repeat(25%);
		
		scroll-snap-type: x mandatory;
		-webkit-scroll-snap-type: x mandatory;
		-ms-scroll-snap-type: x mandatory;
		-o-scroll-snap-type: x mandatory;
	}
	.d-screenSpacerForCSSsnapPoints {
		width: 20%; height: 100%;
		float: left;
//		border: 1px solid purple;
		
		scroll-snap-align: center;
		-webkit-scroll-snap-align: center;
		-ms-scroll-snap-align: center;
		-o-scroll-snap-align: center;
	}
	.d-screenSpacerForCSSsnapPoints-wrapParent { width: 166.666%; }
	
.d-cssCentered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d-midWrap {
    max-width: 70em;
    margin: 0 auto;
}
.d-midDock {
    max-width: 50em;
    margin: 0 auto;
}
/*** END DECORATION ***/

/*** ANIMATION ***/
/*** END ANIMATION ***/

/*** CSS HACKS ***/
.d-background,
.d-matrix { display: none !important; }
.d-matrix {
    background-color: transparent;
    backdrop-filter: blur(7px);
    filter: blur(7px);
}
/*** END CSS HACKS ***/

/*** TO DELETE ***/
/*** END TO DELETE ***/