/*** RESET ***/
		*{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-family:inherit;vertical-align:baseline;font-size:1em;font-style:normal;-webkit-font-smoothing:antialiased;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;/*user-select:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;*/tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;}*, *::before, *::after{-webkit-transition:.5s;-box-transition:.5s;-o-transition:.5s;transition:.5s;}:hover,:active,:focus{outline:0 !important;}html, body{min-height:100%;font-family:sans-serif;font-size:1rem;position:relative;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;padding:0;line-height:1;}article, footer, header, section{display:block;}ol, ul{list-style:none;}a{display:inline-block;text-decoration:none;background-color:transparent;color:initial;}a img{border:none;}a, button, input[type="submit"]{cursor:pointer !important;}button{// background-color:transparent;}img{width:100%;height:auto;}img::selection{fill:none;color:none;display:none;background:none;}input[type="text"], input[type="number"], input[type="search"], input[type="email"], textarea{text-align:left;max-width:100%;}input[type="checkbox"], input[type="radio"]{display:none;}input[type="submit"]{background-color:transparent;}label{display:inline;}textarea{resize:vertical;}
		table { border-spacing: 0; }
/*** END RESET ***/


.pg-hashtag .header-hashtag-hash.nthSize1 { height: 1em; }
.pg-hashtag .header-hashtag-hash.nthSize2 { height: 2em; }
.pg-hashtag .header-hashtag-hash.nthSize3 { height: 3em; }
.pg-hashtag .header-hashtag-hash.nthSize4 { height: 4em; }
.pg-hashtag .header-hashtag-hash.nthSize5 { height: 5em; }
.pg-hashtag .header-hashtag-hash.nthSize6 { height: 6em; }
.pg-hashtag .header-hashtag-hash.nthSize7 { height: 7em; }
.pg-hashtag .header-hashtag-hash.nthSize8 { height: 8em; }
.pg-hashtag .header-hashtag-hash.nthSize9 { height: 9em; }
/*** CANCEL ***/
body, html, main { background: none !important; }
main { padding-top: 2em; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.d-background { position: relative; z-index: 10; }
main { position: relative; z-index: 20; }

.news-card-front-img { position: relative; z-index: 30; }
.news-card-front-data { position: relative; z-index: 40; }
.breakingNews { position: relative; z-index: 50; }

.cases-content-law-nav,
.news-content { position: relative; z-index: 60; }

a { position: relative; z-index: 70; }
/*** END Z-INDEXES ***/

/*** COLORS ***/ 
.cases-content-law-highlight-text,
.cases-header-highlight-text,
.cases-content-law-nav-buttons-span,
.whitePaper-header-title,
.u-card-back { background-color: #03EA60; }
.news-card-front { border-color: #03EA60; }
.d-colorGreen { color: #03EA60; }

.news-card-front-data,
.whitePaper-header-description-p { background-color: rgba(0, 0, 0, .9); }
main { background-color: rgba(255, 255, 255, .7) !important;}

.breakingNews-marquee,
.news-card-back-data,
.whitePaper-content-title { background-color: black; }
.whitePaper-header-description { border-color: black; }
.news-card-back-data:hover,
.news-card-back-data:active,
.news-card-back-data:focus { color: black; }

.breakingNews-marquee-text-link { color: #AAA; }

.cases-content-law-nav-buttons-span:hover,
.cases-content-law-nav-buttons-span:active,
.cases-content-law-nav-buttons-span:focus,
.news-card-back-data:hover,
.news-card-back-data:active,
.news-card-back-data:focus { background-color: white; }
.breakingNews-marquee-text,
.breakingNews-marquee-text-link:hover,
.breakingNews-marquee-text-link:active,
.news-card-back-data,
.news-card-front-data,
.whitePaper-content-title,
.whitePaper-header-description-p { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{font-family:"OCR A Extended";src:url("../../assets/fonts/OCRAEXT.TTF");}

* { font-family: "OCR A Extended"; }

.news-card-back-data { text-align: center; }
.cases-content-law-highlight-text,
.cases-content-law-nav,
.cases-header-text-p:nth-child(even),
.cases-title,
.message-text-p,
.message-title,
.news-card-front-data,
.whitePaper-content-text,
.whitePaper-content-title { text-align: right; }

.cases-content-law-highlight-text-span,
.cases-header-highlight-text-span,
.cases-header-text-quote-q,
.cases-title,
.message-title,
.message-subtitle,
.whitePaper-header-title,
.whitePaper-content-title-span,
.news-title { font-weight: bold; }
.cases-title,
.cases-content-law-highlight-text-span,
.cases-header-highlight-text-span,
.news-title,
.whitePaper-header-title,
.whitePaper-content-title-span { text-transform: uppercase; }

.message-text-p a,
.breakingNews-marquee-text-link,
.d-decoUnderline { text-decoration: underline; }
/*** END FONTS ***/

/*** MEDIA ***/
.whitePaper-header-description { background-image: url("../../assets/images/richfield.png"); }
.whitePaper-header-description,
.news-card-front-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*** END MEDIA ***/

/*** UTILITIES ***/
    /*** .u-card ***/
    .u-card {
        position: relative;
    }
    .u-card .u-card-front, .u-card .u-card-back {
        display: block;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 0.5s;
        transition-property: transform, opacity;
    }
    .u-card .u-card-front {
        transform: rotateY(0deg);
    }
        .u-card:hover .u-card-front,
        .u-card:active .u-card-front,
        .u-card:focus .u-card-front {
            transform: rotateY(180deg);
        }
    .u-card  .u-card-back {
        opacity: 0;
        transform: rotateY(-180deg);
    }
        .u-card:hover .u-card-back,
        .u-card:active .u-card-back,
        .u-card:focus .u-card-back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    .u-card_static .u-card-back-data { display: none !important; }
/*** END UTILITIES ***/

/*** COMPONENTS ***/
        /*** COMMONS ***/
        .whitePaper-header-description,
        .news-card-front { border-width: .5em; border-style: solid; }
        
        .news-card-front-data,
        .whitePaper-header-description-p {
            width: 100%; height: 100%;
            padding: 1em;
        }

.breakingNews {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
}
.breakingNews-marquee-text {
    display: inline-block;
    padding: .5em;
    margin: 0 3em;
}

    /*** .cases ***/
    .cases-content-law {
        position: relative; left: 10%;
        width: 90%;
    }
    .cases-content-law-details-key {
        display: inline-block;
        padding: .25em;
        background-color: black;
        color: white;
    }
    .cases-content-law-details-p {
        padding: 1em 0;
    }

    .cases-content-law-highlight-text,
    .cases-header-highlight-text {
        padding: .5em;
    }
    .cases-content-law-highlight-text-span,
    .cases-header-highlight-text-span,
    .whitePaper-content-title-span {
        display: inline-block;
    }

    .cases-content-law-highlight {
        margin: 1em 0;
    }
    .cases-content-law-highlight-text,
    .whitePaper-content-title {
        display: block;
    }

    .cases-content-law-nav-buttons,
    .cases-content-law-nav-text {
        display: inline-block;
        vertical-align: middle;
    }
    .cases-content-law-nav-buttons-span {
        display: block;
        padding: .25em;
        margin: .5em 0;
    }

    .cases-header-highlight-text {
        display: inline-block;
    }
    .cases-header-text-p {
        position: relative;
    }
    .cases-header-text-p,
    .cases-header-text-quote {
        padding: .5em;
    }

    /*** .header ***/
    .header-logo-img {
        width: auto; height: 3em;
    }

    /*** .message ***/
    .message-text-p {
        padding: 1em;
    }
    .message-title,
    .message-subtitle {
        padding: 1em;
    }

    /*** .news ***/
    .news-content-list,
    .news-card-front-data { display: flex; }
    .news-card-front-data { align-items: flex-end; }
    .news-content-list-item { flex: 1; }

    .news-content {
        margin-left: 3em;
        overflow: auto;
    }
    .news-content-list {
        padding: 1em;
    }
    .news-content-list-item {
        padding: 1em;
    }
    .news-card {
        position: relative;
    }
    
    .news-card-back {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;

    }
    .news-card-back-dock {
        width: 100%; height: 100%;
    }
    .news-card-back-data {
        display: inline-block;
        padding: .5em 1em;
        
        border-radius: .5em;
    }

    .news-card-front {
        position: relative;
    }
    .news-card-front-data {
        position: absolute; bottom: 0; right: 0;
    }
    .news-card-front-img {
        position: relative;
    }
    /*
    .news-card-front-img:after {
        content: "";
        position: absolute; top: 0; left: 0; z-index: 1000;
        display: block;
        width: 100%; height: 100%;

        background-color: red;
        border: 10px solid red;
    }
    */

    /*** .whitePaper ***/
    .whitePaper {
        border: 1px solid purple;
    }

    .whitePaper-content {
        position: relative;
    }
    .whitePaper-content-text {
        padding: 1em 0;
    }

    .whitePaper-header-description {
        position: absolute;
    }
        .whitePaper-header-description { bottom: -3em; right: -3em; }
    .whitePaper-header-description-p { width: 100%; height: 100%; }

    .whitePaper-header {
        position: relative;
        margin-right: 3em;
        margin-bottom: 3em;

        border: 1px solid purple;
    }
    .whitePaper-header-title_wrap {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        padding-right: 3em;
        padding-bottom: 3em;

        border: 1px solid green;
    }
    .whitePaper-header-title {
        display: block;
        width: 100%; height: 100%;
        padding: 1em;
    }
/*** END COMPONENTS ***/

/*** PAGES ***/
/*** END PAGES ***/

/*** INTERACTIVITY ***/
.u-button,
.u-card-front,
.u-card-back-data { cursor: pointer; }

.cases-content-list-item { display: none; }
#rdb4case1:checked ~ main .cases-content-list-item:nth-child(1),
#rdb4case2:checked ~ main .cases-content-list-item:nth-child(2),
#rdb4case3:checked ~ main .cases-content-list-item:nth-child(3),
#rdb4case4:checked ~ main .cases-content-list-item:nth-child(4),
#rdb4case5:checked ~ main .cases-content-list-item:nth-child(5),
.jekyllPlaceholderClassName { display: block; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
    body, html, main { font-size: 16px; }

    .cases-content-law-highlight-text-span,
    .cases-header-highlight-text-span,
    .whitePaper-content-title-span { font-size: 2em; }
    .cases-title,
    .message-title,
    .message-subtitle,
    .news-title { font-size: 1.5em; }

    .news-content-list {// width: 275%; }
    .whitePaper-header,
    .news-card-front-img { width: 15em; }
        .whitePaper-header-description { width: 15em; height: 15em; }

    .whitePaper-content {
        width: 90%; left: 10%;
    }
    .whitePaper-content-title { padding: .5em 0; }
    
    .d-midWrap { padding: .5em; }
    .d-midDock { padding: .5em 0; }
}
@media all and (min-width: 50em) {
    body, html, main { font-size: 18px; }

    .cases-content-law-highlight-text-span,
    .cases-header-highlight-text-span,
    .whitePaper-content-title-span { font-size: 3em; }
    .cases-title,
    .message-title,
    .message-subtitle,
    .news-title { font-size: 2em; }

    .cases-content-law-details { display: flex; }
    .cases-content-law-details-dock { flex: 1; }

    .cases-header-text-p,
    .cases-header-text-quote { width: 75%; }
    .cases-header-text-p:nth-child(even) { left: 25%; }

    .cases-content-law-details-p { padding: 1em .19em; }

    .news-content-list {// width: 150%; }
    .whitePaper-header,
    .news-card-front-img { width: 19em; }
        .whitePaper-header-description { width: 19em; height: 19em; }

    .whitePaper { display: flex !important; }
    .whitePaper-content { flex: 1; }
    .whitePaper-content-title { padding: 1em; }

    .d-midWrap { padding: 1em; }
    .d-midDock { padding: 1em 0; }
}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
    /*** .background ***/
    .d-background {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        overflow: hidden;
    }
    .d-background-video {
        position: absolute; top: 0; right: 0;
        min-width: 100vw; min-height: 100%;
        filter: grayscale(1);
    }

.d-cssCentered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d-midWrap {
    max-width: 70em;
    display: block;
    margin: 0 auto;
}
.d-midDock {
    max-width: 50em;
    display: block;
    margin: 0 auto;
}
/*** END DECORATION ***/

/*** ANIMATION ***/
/*** END ANIMATION ***/

/*** CSS HACKS ***/
main { min-width: 19em; }

.whitePaper-header-description-p {
    background-color: transparent;
    backdrop-filter: blur(7px);
}
.whitePaper-header-description {
//    backdrop-filter: blur(3.5px);
//    filter: blur
}
/*** END CSS HACKS ***/

/*** TO DELETE ***/
/*** END TO DELETE ***/