<section class="partners">
	<div class="partners-logos">
		<figure class="partners-logos-figure">
			<img src="/assets/images/nao-research/partner-goetheinstitut-1.png" class="partners-logos-figure-img is-logo" />
			<img src="/assets/images/nao-research/partner-goetheinstitut-2.png" class="partners-logos-figure-img is-icon" />
		</figure>

		<figure class="partners-logos-figure">
			<img src="/assets/images/nao-research/partner-intobinary-1.png" class="partners-logos-figure-img is-logo" />
			<img src="/assets/images/nao-research/partner-intobinary-2.png" class="partners-logos-figure-img is-icon" />
		</figure>
		
		<figure class="partners-logos-figure">
			<img src="/assets/images/nao-research/partner-robotinresidence-1.png" class="partners-logos-figure-img is-logo" />
			<img src="/assets/images/nao-research/partner-robotinresidence-2.png" class="partners-logos-figure-img is-icon" />
		</figure>
	</div>
	
	<div class="partners-text">
		<p class="partners-text-p">Madam Ella was selected to participate in a research program called: "<span class="css-textBold">NAO: Robots in Residence</span>." As the participants brainstorm their collective collaboration, bookmark this page to explore along with Madam Ella a vision close to her heart.</p>
	</div>
</section>