<section class="vision">
	<div class="vision-toggle">
		<label for="" class="vision-toggle-button">Read the Vision</label>
		<p class="vision-toggle-disclaimer">Disclaimer: [...]</p>
	</div>
	
	<div class="vision-content"><div class="vision-content-dock d-midWrap">
		<div class="vision-content-text"><p class="vision-content-text-p">"Humanity has told stories since the dawn of time. These stories, whether whispered around ancient fires or rendered on the pages of books, are our means of sharing wisdom, experience, and feelings. Yet, as we step into a new era, where technology and human creativity unite, we find ourselves at the brink of a remarkable evolution in storytelling."</p></div>
	</div></div>
</section>