<section class="documents"><ul>{% for i in (1..1) %}
	<li><div class="documents-file">
		<h5 class="documents-file-title">Artificial Intelligence and the Future of Teaching and Learning</h5>
		<div class="documents-file-content">
			<header class="documents-file-content-description">
				<p>The U.S. Department of Education Office of Educational Technology’s <span class="u-bold">new policy report</span>, "Artificial Intelligence and the Future of Teaching and Learning: Insights and Recommendations", addresses the clear need for sharing knowledge, engaging educators, and refining technology plans and policies for artificial intelligence (AI) use in education. The report describes AI as a rapidly-advancing set of technologies for recognizing patterns in data and automating actions, and guides educators in understanding what these emerging technologies can do to advance educational goals—while evaluating and limiting key risks. </p>
			</header>
			
			<div class="documents-file-content-details">
				<a href="/assets/files/nao-research/resources/document-1.pdf" class="documents-file-content-details-figure"><img src="/assets/images/nao-research/resources/document-1.png" /></a>
				
				<a href="/assets/files/nao-research/resources/document-1.pdf" class="documents-file-content-details-button">Download</a>
			</div>
		</div>
	</div></li>{% endfor %}
</ul></section>