---
layout: default
---
		<input id="chkbx4mobileMenu" type="checkbox" name="chkbx4mobileMenu" checked />
		<input id="chkbx4TOC" type="checkbox" name="chkbx4TOC" />
		<input id="rdb4faqMore" type="radio" name="rdb4faqMore" />
		{% for i in (1..19) %}<input id="rdb4faq{{ i }}" type="radio" name="rdb4faqs"{% if forloop.first %} checked{% endif %} />{% endfor %}

		<main>
			<footer class="footer"><div class="footer-wrap">
				The entire website is being completly redesigned. You can still view the 2023 snapshot. <a href="/richfield-case-study/archives/2023/">Click here!</a>
			</div></footer>
			
			<section class="main_dock">
				<aside class="aside"><div class="aside_dock">
					<label for="chkbx4mobileMenu" class="aside-button">...</label>
				
					<div class="aside-message">
						<p class="aside-message-p">Send your testimony! You can contact Madam Ella directly: <a href="mailto:madam.ella@intobinary.org">madam.ella<br />@intobinary.org</a>.</p>
					
						<video class="aside-message-video" poster="/assets/videos/intro-sample.png" controls>
							<source src="/assets/videos/intro-placeholder.mp4" type="video/mp4" />
							<!--
							<source src="/assets/videos/intro-sample.mp4" type="video/mp4" />
							<source src="/assets/videos/intro-sample.webm" type="video/webm" />
							<source src="/assets/videos/intro-sample.ogg" type="video/ogg" />
							-->
							<!--
							<object data="/assets/videos/intro-sample.mp4" />
								<embed src="/assets/videos/intro-sample.swf" />
							</object>
							-->
						</video>
					</div>
					<div class="aside-toc"><div class="aside-toc_dock">
						<label for="chkbx4TOC" class="aside-toc-title" title="Click to open">Table of Content</label>
						
						<div class="aside-toc-list_wrap"><ul class="aside-toc-list">{% assign currentCategory = "" %}{% for pg in site.case-study-toc %}{% capture iCategory %}{{ pg.url | remove: '/richfield-case-study/' | split: '/' | first }}{% endcapture %}
							{% if iCategory == currentCategory %}<!--yes-->{% else %}{% unless forloop.first %}{% if pg.url contains iCategory %}</ul>{% endif %}
							</li>{% endunless %}{% unless forloop.first %}
							<!--.-->
							{% endunless %}<li class="aside-toc-list-item">
								<span class="aside-toc-category">{{ iCategory | replace: '-', ' ' | upcase }}</span>{% if pg.url contains iCategory %}
								<ul class="aside-toc-sublist">{% endif %}{% assign currentCategory = iCategory %}{% endif %}
									<li class="aside-toc-sublist-item"><a href="{{ pg.url }}" class="aside-toc-link">{{ pg.title }}</a></li>{% if forloop.last %}{% if pg.url contains iCategory %}
								</ul>{% endif %}
							</li>{% endif %}{% endfor %}
						</ul></div>
					</div></div>
					<p>&copy; Copyright 2024.</p>
				</div></aside>
				
				<section class="page">
					<div class="page_dock">
						<nav class="page-nav">
							<div class="page-nav-breadcrumbs"><a href="/richfield-case-study/">Richfield Case-Study</a> > <span>{{ page.url | remove: '/richfield-case-study/' | split: '/' | first | replace: '-', ' ' | upcase }}</span> > <a href="">{{ page.url | split: '/' | last | replace: '-', ' ' | capitalize }}</a></div>
							
							<figure class="page-nav-logo">
								<img src="/assets/images/logo_green.png" class="page-nav-logo-img" />
							</figure>
						</nav>
						<div class="page-content">
							<header class="page-content-banner">
								<span class="page-content-banner-placeholder"></span>
								<h1 class="page-content-banner-title">{{ page.title }}</h1>
							</header>
							<div class="page-content-text">
								<p>{% if page.description == null or page.description == "" %}[...]{% else %}{{ page.description }}{% endif %}</p>
							</div>
						</div>
					</div>
					
					{{ content }}
					
					<div class="page_dock">
						<div class="page-faq">
							<h5 class="page-faq-title">Discover the insights of the case-study, as you hold the conversations in your communities.</h5>
							
							<div class="page-faq-content">
								<ul class="page-faq-content-list">{% for faq in page.faq %}
									<li class="page-faq-content-list-item{% if forloop.index > 3 %} isMore{% endif %}"><div class="page-faq-content-box">
										<header class="page-faq-content-box-question">
											<label for="rdb4faq{{ forloop.index }}" class="page-faq-content-box-question-q">({{ forloop.index }}) {{ faq[0] }}</label>
											<figure class="page-faq-content-box-question-figure"></figure>
										</header>
										<div class="page-faq-content-box-answer">
											<p>{{ faq[1] }}</p>
										</div>
									</div></li>{% endfor %}
									<!--
									<div class="page-faq-content-sublist">{% for i in (4..10) %}
										<li class="page-faq-content-list-item">
										{% include components/case-study/code_faqBox.html vI=i %}
										</li>{% endfor %}
									</div>
									-->
								</ul>{% for faq in page.faq %}{% if forloop.length > 3 %}
								
								<label for="rdb4faqMore" class="page-faq-content-button u-button">View all!</label>{% break %}{% endif %}{% endfor %}
							</div>
							
							<div class="page-faq-review">
								<figure class="page-faq-review-figure">
									<span class="page-faq-review-figure-placeholder">&nbsp;</span>
									<span class="page-faq-review-figure-button u-button">Put a like here!</span>
								</figure>
								<p class="page-faq-review-text">I am open for reviews and feedback. <a href="mailto:madam.ella@intobinary.org">Tell me</a> what you think of this page content, in all of its rawness; and I will create more of what you find useful.</p>
							</div>
						</div>
					</div>
				</section>
			</section>
		</main>
	
		<aside class="d-background"><video class="d-background-video" autoplay loop muted>
			<source type="video/mp4" src="/assets/videos/math-background.mp4" />
		</video></aside>