---
layout: default
---
		<main>
			{% include components/case-study-new/menu.html %}

			<footer class="footer"><div class="footer-wrap">
				The entire website is being completly redesigned. You can still view the 2023 snapshot. <a href="/richfield-case-study/2023/">Click here!</a>
			</div></footer>
		</main>
	
		<aside class="d-background"><video class="d-background-video" autoplay loop muted>
			<source type="video/mp4" src="/assets/videos/math-background.mp4" />
		</video></aside>
		
		<aside class="d-matrix"></aside>