---
layout: default
---
<main>
	<header class="header">January 19, 2024. The "manufacturing" has started! <br /><br />Here, the archives of all videos and photos. <br /><br />Stay tuned with the pages to get details.</header>
	
	<aside class="aside">
		<h5 class="aside-title" style="font-weight: bold; text-decoration: underline;">Community Emails</h5>
		<br />
		<p>{% for file in site.data.richfield-case-study.camera-roll.community-emails %}{% for data in file.meta-data %}
	{{ data }}{% endfor %}{% endfor %}</p>
	</aside>
	
	<section class="content">
		<div class="content-reviews">
			<p>Send your testimony to me at <a href="mailto:madam.ella@intobinary.org">madam.ella@intobinary.org</a>. Or use what every other business uses: a public review site like these popular ones here.<br /></p>
			<ul>{% for i in (1..4) %}
				<li><img src="/assets/images/richfield-case-study/reviews/public-review-site-{{ i }}.png" /></li>{% endfor %}
			</ul>
		</div>
		
		<div>{% for file in site.data.richfield-case-study.camera-roll.community-emails %}{% for data in file.emails %}
			<img src="/assets/images/richfield-case-study/community-emails/{{ data }}" />{% endfor %}{% endfor %}
		</div>
	</section>
</main>