---
layout: default
---
		<main>
			{% include components/case-study/menu.html %}

			<footer class="footer"><div class="footer-wrap">
				Richfield's malpractice has profoundly impacted Madam Ella's academia. However, viable solutions to this issue can be found worldwide. Will Richfield, yet again, opt for the wrong side? Follow the next few weeks here: <a href="/richfield-case-study/fixing-the-effect-of-richfield-malpractice/">Click here!</a>
			
				<!--
				The entire website is being completly redesigned. You can still view the 2023 snapshot. <a href="/richfield-case-study/archives/2023/">Click here!</a>
				-->
			</div></footer>
		</main>
	
		<!--
		<aside class="d-background"><video class="d-background-video" autoplay loop muted>
			<source type="video/mp4" src="/assets/videos/math-background.mp4" />
		</video></aside>
		-->
		
		<aside class="d-matrix"></aside>