---
layout: default
---
		<input id="chkbx4menu" type="checkbox" name="chkbx4menu" checked />
	
		<main>
{% include/components/nao-research/menu.html %}
{% include/components/nao-research/banner.html %}
{% include/components/nao-research/content.html %}
{% include/components/nao-research/partners.html %}
		</main>

		<script type="text/javascript" src="/assets/scripts/script_pdt360DegViewer.js"></script>
		<script>
			var path = '/assets/images/nao-research/nao-3d/';

			pdt360DegViewer('car3', 36, path, 'jpg', false, false, true, false, false, false, false);   //draggable
		</script>
		<script type="text/javascript" src="/assets/scripts/www-dot-intobinary-dot-org_nao-research.js"></script>
		